body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a img {
    width: 20px;
    margin-right: 10px;
}

nav ul li.active a {
    font-weight: bold;
}

.library, .playlists {
    margin-top: 20px;
}

.library h3, .playlists h3 {
    margin: 0;
    font-size: 1.2em;
}

.library ul, .playlists ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.library ul li, .playlists ul li {
    margin-bottom: 10px;
}

.library ul li a, .playlists ul li a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.library ul li a img, .playlists ul li a img {
    width: 20px;
    margin-right: 10px;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2em;
}

.search-bar {
    margin-left: auto;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.popular-genres, .moods, .artists {
    margin-bottom: 40px;
}

.popular-genres h2, .moods h2, .artists h2 {
    margin: 0;
    font-size: 1.5em;
}

.genres, .mood-cards, .artist-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.genre, .mood-card, .artist-card {
    background-color: #1f1f1f;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.genre img, .mood-card img, .artist-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.genre span, .artist-card h3, .artist-card p {
    display: block;
    padding: 10px;
}

.artist-card h3 {
    font-size: 1.2em;
}

.artist-card p {
    font-size: 1em;
    color: #aaaaaa;
}

/* Адаптивность */
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .genres, .mood-cards, .artist-cards {
        flex-direction: column;
        align-items: center;
    }

    .genre, .mood-card, .artist-card {
        width: 100%;
    }
}
