.bockPan {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 100vh;
}

.navBock {
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 38px;
    padding: 0px 0 30px 75px;
    color: #fff;
}

.navBock .logo{
    width: 105px;
    height: 67px;
    margin: 50px 0 0px 0;
}

.navBock ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 15px;
    padding: 0px 0 0 0;
}

.zagBib {
    margin: 20px 0;
    font-size: 22px;
    color: #fff;
}

.navBock ul li {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navLi {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
}

.navLi:hover {
    color: #15FF00;
}

.navLi img {
    width: 30px;
    height: 30px;
}

.CreatePlaylist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
}

.zagBib.play {
    margin: 0;
}

.btnCreatePlaylist {
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
}

.btnCreatePlaylist img {
    width: 30px;
    height: 30px;
}

.logoLi {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./../../image/icons/homeOff.png');
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
}

.logoLi:hover {
    background-image: url(./../../image/icons/homeOn.png);
}
