.fourYouCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.headerFourYouCard {
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
}

.logoPlaylist {
    width: 40px;
    height:  25px;
}

.sliderBtn {
    width: 40px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideBtn {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideBtn img {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bodyFourYouCard {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    gap: 10px;
}

.playlistCard {
    width: 170px;
    height: 253px;
    display: flex;
    flex-direction: column;
    color: #898989;
    font-size: 12px;
    text-align: left;
}

.playlistImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    width: 170px;
    height: 181px;
}

.recktangleIcon {
    width: 85%;
    height: 10px;
    background-color: rgba(206, 110, 154, 0.3);
    border-top-left-radius: 7.25px;
    border-top-right-radius: 7.25px;
}

.recktangleIcon.small {
    width: 70%;
    background-color: rgba(206, 110, 154, 0.15);
}

.playlistCard img {
    width: 170px;
    height: 170px;
    border-radius: 10px;
}

.nameAndKol {
    font-size: 11px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}