.MyMusicPage {
    margin: 50px auto;
    margin-right: 220px;
    width: 760px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.mainMyMusic {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    align-items: flex-start;
    width: 100%;
    border-radius: 20px;
}

.topSectionMyMusic {
    width: 100%;
    height: 291px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
}

.userIcon {
    opacity: 0.59;
    position: absolute;
    width: 760px;
    height: 291px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.userIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentTop {
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 20px 40px;
}

.contentTop hr {
    width: 200px;
    margin-left: 2px;
    margin: 5px 0;
}

.contentTop h1 {
    font-size: 32px;
}

.contentTop h2 {
    color: #fff;
    font-size: 20px;
}

.bottomSectionMyMusic {
    width: 100%;
    padding: 0 20px;
}