.MyMusicPage {
    margin: 50px auto;
    width: 850px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.MyMusicPage h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.mainMyMusic {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    align-items: flex-start;
    width: 850px;
    border-radius: 20px;
}

.topSectionMyMusic {
    width: 850px;
    height: 291px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    background-image: url('./../../image/img/omi-omi.jpg');
    background-repeat: no-repeat;
    background-size: cover, 100%;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contentTop {
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 20px 40px;
}

.contentTop hr {
    width: 200px;
    margin-left: 2px;
    margin: 5px 0;
}

.contentTop h1 {
    font-size: 32px;
}

.contentTop h2 {
    color: #fff;
    font-size: 20px;
}

.bottomSectionMyMusic {
    width: 760px;
    margin: 0 auto;
}

.sectionMymusic {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 24px;
    margin-top: 40px;
}

.wrapperCreate {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.btnCreatePlay {
    width: 160px;
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    transition: all 0.3s ease;
    animation: fadeIn 0.5s ease forwards;
}

.imgCreate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    background-color: #121412;
    border-radius: 10px;
}

.btnCreatePlay img {
    width: 30px;
    height: 30px;
}

.btnCreatePlay p {
    text-align: left;
    font-size: 16px;
    color: #fff;
}