section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}

const Title = styled.h2`
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #fff;
`;

const AdvantagesList = styled.div`
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
`;

const AdvantageItem = styled.div`
  width: 25%;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
`;

const AdvantageTitle = styled.h3`
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 17px;
`;

const AdvantageDescription = styled.p`
  color: #fff;
  line-height: 1.6;
  font-size: 13px;
`;

const AdvantageImgage = styled.img`
  width: 100px;
  height: 100px;