.premiumContainer {
    width: 950px;
    height: auto;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 45px;
    color: #fff;
}

.premiumContainer.profile {
    width: 100%;
}

.premiumContainer h2 {
    color: #fff;
}

.premiumCardContainer {
    display: flex;
    gap: 25px;
}

.preimCard {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #3D3D3D;
    border-radius: 15px;
}

.preimCard.profile {
    width: 250px;
    height: 350px;
}

.topTextSection {
    width: 175px;
    height: 40px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    color: #000;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContainerPrem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    font-size: 16px;
    margin: 20px 80px 12px 30px;
}

.logoContainerPrem img {
    width: 50px;
    height: 32px;
}

.namePlan {
    font-size: 20px;
    text-align: left;
    margin: 0 80px 17px 30px;
}

.namePlan.profile {
    margin: 0 0 17px 30px;
}

.textPrice {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: flex-start;
    font-size: 15px;
    margin: 0 45px 15px 30px;
}

.textPrice.profile {
    margin: 0 0 15px 13px;
}

.textPrice span {
    font-size: 10px;
    color: #8C8C8C;
}

hr {
    width: 85%;
    height: 3px;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: none;
    margin: 0 auto;
}

.spisOp {
    width: 218px;
    height: 80px;
    margin: 20px auto;
    font-size: 12px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spisOp.profile {
    font-size: 9px;
}

.spisOp li {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btnPreim {
    width: 250px;
    height: 25px;
    font-size: 9px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: auto;
    border: none;
}

.btnPreim.profile {
    margin-bottom: 22px;
    width: 225px;
    font-size: 7px;
}

.smallFont {
    font-size: 5px;
    margin: auto 62px;
    font-weight: 600;
    color: grey;
}

.smallFont.profile {
    display: none;
}