.App {
  text-align: center;
  font-family: 'Comfortaa' sans-serif;
  background: 
    linear-gradient(120deg, #15FF00 0%, #FF00D9 100%);
}
.black {
  background: rgba(0, 0, 0, 0.5);
}

* {
  font-family: 'Comfortaa' sans-serif;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./components/Font/Comfortaa.ttf);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}