.App {
  text-align: center;
  font-family: 'Comfortaa' sans-serif;
  background: 
    linear-gradient(-150deg, #15FF00 0%, #FF00D9 100%);
  padding: 0;
  margin: 0;
}
.black {
  background: rgba(0, 0, 0, 0.7);
}

* {
  font-family: 'Comfortaa' sans-serif;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Comfortaa';
  src: url(./components/Font/Comfortaa.ttf);
}

.homePage {
  display: flex;
  min-height: 100vh;
}

.wrapperAside{
  flex: 1;
}

.wrapperMain {
  flex: 3;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.main {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1 {
  color: #fff;
  font-size: 36px;
  text-align: left;
  margin-top: 30px;
}

.main h2 {
  color: #fff;
  font-size: 24px;
}

.mainPlayPage {
  margin: 50px auto;
  /* margin-right: 220px; */
  width: 850px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainPlayPage h1 {
  text-align: left;
}

.mainPlayPage h2, .MyMusicPage h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}